<h1>Latest tweets</h1>

<table>
	
  <tr>
  	<th>Status</th>
  	<th>Zombie</th>
  	<th>Length</th>
    <th colspan=3>Actions</th>
  </tr>

<% @tweets.each do |tweet| %>
  <tr>
  	<td><%= tweet.status %></td>
  	<td><%= link_to tweet.zombie.name, zombie_path(tweet.zombie) %></td>
  	<td><%= tweet.status.length %></td>
    <td><%= link_to 'Show', zombie_tweet_path(tweet.zombie, tweet) %></td>
  </tr>
<% end %>

</table>

<% if @tweets.empty? %>
<em>No tweets found.</em>
<% end %>