/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

html {
	font-size: 16px;
}

body {
	font-family: Georgia, serif;
	font-size: 62.5%; /* 1em = 10px */
	
	/*****  THE GOLDEN RULE  *****/
	/* target / context = result */
	/*  30px  /  10px   = 3em    */
	
	/* 30px is <h1> font size */
	/* 10px is default browser font size */
	
	/* find more on journey_into_mobile_slides.pdf */
}

footer {
	text-align: center;
	font-size: .8em; /* 8px */
}
